# Laragon / PHP
vendor/
.env
.env.backup
.env.production
composer.lock
# package-lock.json (Keep for CI/CD)
!package-lock.json
!frontend/package-lock.json
!backend/package-lock.json
public/storage
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/app/*.json
database/database.sqlite
database/database.sqlite-journal

# Next.js
frontend/.next/
frontend/node_modules/
frontend/out/
frontend/.env*
frontend/next-env.d.ts

# Docker
.env.docker
backups/

# Misc
.DS_Store
Thumbs.db
.vscode/

# Private MVP File (Keep only in local)
private-mvp.md
PRD_HRMS_Narwasthu_Group.md
DOKUMENTASI_TEKNIS_HRMS.md
PAYROLL/

#sonarqube
sonar-project.properties/
docker-compose.sonarqube.yml
.scannerwork/
sonar-scanner-*/